/****************
Basic
****************/
section {
  margin: 50px;
}
h1 {
  font-size: 70px;
  line-height:1.4;
  font-weight: bold;
  color: #0072ae;
}
.alt-headline {
  font-size: 40px;
}

h2 {
  font-size: 26px;
  font-style: italic;
  color: #eb2428;
  margin-bottom: 10px;
}

p {
  font: normal normal 18px/1.6 Georgia, 'Times New Roman', serif;
}























